// General layout

body
  background: #ddd

#content
  padding: 10px
  border: 1px solid black
  margin: 10px
  background: white
  
  
// Runtime error alerts

.runtime-error-alert
  position: fixed
  top: 10px
  left: 20%
  right: 20%
  
  
// Helper utilities

// Jade doesn't make it easy to include spaces between elements.
// Use these classes to space elements.
.spr:after
  content: " "

.spl:before
  content: " "
  