.runtime-error-alert.alert.alert-danger.fade
  button.close(type="button" data-dismiss="alert")
    span(aria-hidden="true") &times;
  strong.spr Runtime Error:
  span.spr "#{errorMessage}".
  span See console for more info.