extends /templates/common/base

block content
  .page-header
    h1 Hello World!
    span.glyphicon.glyphicon-search

  ul.list-group
    li.list-group-item
      a(href="/test/client") Client Tests
    li.list-group-item
      a(href="/test/server") Server Tests
