.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true")!= '&times;'
      h4.modal-title Sample Modal

    .modal-body
      p Modal body
            
    .modal-footer
      button.btn.btn-default(data-dismiss="modal") Cancel
      button.btn.btn-primary(data-dismiss="modal") Okay
